.product-card {
  background-color: #3a3f45;
  border: 18px solid #474d54;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  position: relative;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-bottom: 1px solid #474d54;
}

.product-card .card-body {
  padding: 10px;
  text-align: left;
}

.product-card .card-title {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.product-card .card-text {
  font-size: 16px;
  color: #ffffff;
}

.product-card .card-price {
  font-size: 18px;
  font-weight: bold;
  color: #926f6c;
}

.product-card .btn-primary-add-to-cart{
  background-color: #F8F9FA;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.product-card:hover .btn-primary-add-to-cart {
  display: block;                                                           
}

.product-card .btn-primary-add-to-cart:hover {
  background-color: #867f7e;
}
